
.pagination {
  a:focus {
    outline: none;
  }
}
.pagination--page__active {
  color: #313d4f;
}

.pagination--prev,
.pagination--next {
  display: inline;
}

.pagination__container {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 8px 16px;
  list-style: none;

  li {
    display: inline-block;
  }
}

.pagination__page {
  margin: 0 4px;
  display: inline-block;

  a {
    display: block;
    color: black;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border: 1px solid #ced0da;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    padding: 12px 3px 3px;
    font-size: 14px;
  }
}

.pagination__page--active {

  a {
    background-color: #313d4f;
    color: white;
    border-color: #ced0da;
  }

}

.pagination__nav {
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 500;
  margin: 0 4px;
  text-align: center;
  border: 1px solid #ced0da;

  a {
    color: black;
  }

}

.pagination__nav--disabled {
  cursor: default;
  pointer-events: none;
}

.pagination__nav__link {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.pagination__nav--disabled {
  background-color: transparent;
  opacity: .5;
}