.table {
  width: 100%;
  background-color: #ffffff;
  border-style: none;
  color: #000000;
}

.table td, .table th {
  border-width: 2px;
  border-style: none;
  padding: 8px;
}

td {
  border-style: solid none;
  padding: 10px;
  background-color: #F6F4FA;
}

.table__sort-button {
  font-size: 12px;
  bottom: 2px;
  position: relative;
  left: 10px;
}

